################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BUOITH1/.vs
/BUOITH2/.vs
/BUOITH2.chuong3/.vs
/BUOITH2.chuong4/.vs/BUOITH2.chuong4
